# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* popular languages that Data Scientists use
* commonly used libraries used by Data Scientists
* few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are :
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. Scala
3. NumPy
4. Apache Spark
5. Tensor Flow
6. Scala

| Data Science Tools |
----------
| Jupyter Notebook |
| MySQL |
| MongoDB |
| Git |
| KNIM |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Rabii Abouaissa